
include ./product_infor_item.pug
include ./confirm.pug
include ./addProduct.pug


mixin product_infor(products,listOption,keyword,detailProduct1)
    +formAddProduct()

    nav.navbar.navbar_menu-title
        .nameTitle Danh Sách Sản Phẩm

    nav.navbar.navbar_search_filter_tilte
        .nameTitle Tìm kiếm và bộ lọc

    nav.navbar.navbar_menu-Search
        form.form-search
            input(type="text" value=keyword name="keyword" class="form-control",id="seach" placeholder="Bạn tìm kiếm gì" aria-label="Recipient's username" aria-describedby="button-addon2")
            button(type='submit')
                i(class="fa-solid fa-magnifying-glass" )
            select.form-select.filterSearchProduct#select1(aria-label='Default select example')
                each item in listOption
                    if item.class=="active"
                        option(value=item.value,selected) #{item.name}
                    else 
                        option(value=item.value) #{item.name}

        //- button.btn.btn-success.btn_addProduct.(type='button' pathCurrent = "/admin/products/")
        //-     i.fa-solid.fa-circle-plus
        //-     span Add
        button.btn.btn-success.add_Product.btn_addProduct(type='button') Add new product

    nav.navbar.navbar_content
        +detailProduct(detailProduct1)
        table.table.align-middle.tableProduct
            thead
                tr
                    th(scope='col',style='width: 5%') STT
                    th(scope='col',style='width: 10%') Image
                    th(scope='col',style='width: 30%') Tiêu Đề
                    th(scope='col',style='width: 10%') Brand
                    th(cope='col',style='width: 10%') Trạng Thái 
                    th(scope='col') Detail
                    th(scope='col') Hoạt Động

            tbody.table-group-divider
            +confirm()
            each item,index in products
                +product_infor_item(item,index)
