mixin product_infor_item(item,index)
    tr.text-start
                    th(class="stt_tableProduct",scope='row') #{index+1}
                    td.img_tableProduct
                        img(src=`${item.thumbnail}`, alt="", srcset="")
                    td(class="_tableProduct") #{item.title}
                    td(class="_tableProduct") #{item.brand}
                    if item.status==="active"
                        td(class="text-wrap",style='color:var(--bs-success)') #{item.status}
                    else 
                        td(class="text-wrap",style='color:var(--bs-danger)') #{item.status}

                    td
                        i.fa-solid.fa-eye
 
                    td 
                        button.btn.btn-warning(type='button' ) Sửa
                        button.btn.btn-danger.ml-1(type='button') Xóa