include ./confirm.pug

mixin product_infor_item(item,index) 
    tr.text-start
                    th(class="stt_tableProduct",scope='row') #{index+1}
                    td.img_tableProduct
                        img(src=`${item.thumbnail}`, alt="", srcset="")
                    td(class="_tableProduct") #{item.title}
                    td(class="_tableProduct") #{item.brand}
                    td(class="text-wrap") 
                        button.btnStatusProduct(status =item.status, id_product =item._id style=`${item.status==="active"? "color:var(--bs-success)":"color:var(--bs-danger)"}`) #{item.status}
                    td
                            i.fa-solid.fa-eye(btn-data-detail, id_product =item._id)
 
                    td
                        button.btn.btn-warning(type='button' data-toggle="modal" data-target="#exampleModal" ) Sửa
                        if item.delete == "false"
                            button.btn.btn-danger.ml-1.openConfirm(type='button' btn_delete id_product=item._id ) Xóa
